<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>com.pankov.roadtosenior.onlineshop.web.filter.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>adminFilter</filter-name>
        <filter-class>com.pankov.roadtosenior.onlineshop.web.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>adminFilter</filter-name>
        <url-pattern>/product/*</url-pattern>
    </filter-mapping>
    <!--<filter>
        <filter-name>userFilter</filter-name>
        <filter-class>com.pankov.roadtosenior.onlineshop.web.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/cart/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>guestFilter</filter-name>
        <filter-class>com.pankov.roadtosenior.onlineshop.web.filter.GuestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guestFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/search/*</url-pattern>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/app-servlet.xml
        </param-value>
    </context-param>
    <!--<servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/products</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProductServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductServlet</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addProductToCartServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductToCartServlet</servlet-name>
        <url-pattern>/cart/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>removeProductFromCartServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.RemoveProductFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeProductFromCartServlet</servlet-name>
        <url-pattern>/cart/remove</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.pankov.roadtosenior.onlineshop.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    -->
</web-app>